In [1]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/dow.sqlite")

In [3]:
Base = automap_base()
Base.prepare(autoload_with=engine)

In [4]:
Base.classes.keys()

['dow']

In [5]:
inspector = inspect(engine)

In [8]:
inspector.get_table_names()

['dow']

In [11]:
inspector.get_columns('dow')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'quarter',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'stock',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'date',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'open_price',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'high_price',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'low_price',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'close_price',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'volume',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'percent_change',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [12]:
import pandas as pd
pd.DataFrame(inspector.get_columns('dow'))

             name     type  nullable default autoincrement  primary_key
0              id  INTEGER     False    None          auto            1
1         quarter  INTEGER      True    None          auto            0
2           stock     TEXT      True    None          auto            0
3            date     TEXT      True    None          auto            0
4      open_price    FLOAT      True    None          auto            0
5      high_price    FLOAT      True    None          auto            0
6       low_price    FLOAT      True    None          auto            0
7     close_price    FLOAT      True    None          auto            0
8          volume  INTEGER      True    None          auto            0
9  percent_change    FLOAT      True    None          auto            0

In [13]:
col = inspector.get_columns('dow')
for c in col:
    print(c['name'],c['type'])

id INTEGER
quarter INTEGER
stock TEXT
date TEXT
open_price FLOAT
high_price FLOAT
low_price FLOAT
close_price FLOAT
volume INTEGER
percent_change FLOAT