In [13]:
# import SQLAlchemy and inspect dependencies
import sqlalchemy
from sqlalchemy import create_engine, inspect

# create engine for the employee_compensation.sqlite database

database_path = "./prescriptions.sqlite"
engine = create_engine(f"sqlite:///{database_path}")

In [14]:
# create the inspector and connect to the engine
i = inspect(engine)

In [15]:
# collect the name of the tables within the database
i.get_table_names()

['prescription']

In [20]:
# Collect the names and data types for the employee_compensation table.
cols = i.get_columns('prescription')
for c in cols:
    print(c['name'],c['type'])

id INTEGER
name VARCHAR
strength FLOAT
doses_per_administration INTEGER
route VARCHAR
administrations_per_day VARCHAR
total_quantity_to_dispense INTEGER
refill_limit INTEGER
refill_frequency VARCHAR

In [21]:
import pandas as pd

In [22]:
pd.DataFrame(cols)

,name,type,nullable,default,autoincrement,primary_key
0,id,INTEGER,False,None,auto,1
1,name,VARCHAR,True,None,auto,0
2,strength,FLOAT,True,None,auto,0
3,doses_per_administration,INTEGER,True,None,auto,0
4,route,VARCHAR,True,None,auto,0
5,administrations_per_day,VARCHAR,True,None,auto,0
6,total_quantity_to_dispense,INTEGER,True,None,auto,0
7,refill_limit,INTEGER,True,None,auto,0
8,refill_frequency,VARCHAR,True,None,auto,0

In [25]:
pd.DataFrame(engine.execute("select * from prescription"))

   0            1       2  3     4  5    6  7        8
0  1      Theriac  1000.0  1  oral  3   90  0     None
1  2  Haloperidol     1.0  2  oral  2  120  1  monthly
2  3      Theriac  1000.0  1  oral  3   90  0     None
3  4  Haloperidol     1.0  2  oral  2  120  1  monthly
4  5      Theriac  1000.0  1  oral  3   90  0     None
5  6  Haloperidol     1.0  2  oral  2  120  1  monthly

In [26]:
pd.read_sql("select * from prescription", engine)

,id,name,strength,doses_per_administration,route,administrations_per_day,total_quantity_to_dispense,refill_limit,refill_frequency
0,1,Theriac,1000.0,1,oral,3,90,0,None
1,2,Haloperidol,1.0,2,oral,2,120,1,monthly
2,3,Theriac,1000.0,1,oral,3,90,0,None
3,4,Haloperidol,1.0,2,oral,2,120,1,monthly
4,5,Theriac,1000.0,1,oral,3,90,0,None
5,6,Haloperidol,1.0,2,oral,2,120,1,monthly

In [27]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [28]:
Base = automap_base()
Base.prepare(autoload_with=engine)

In [30]:
Base.classes.keys()

['prescription']

In [31]:
Prescription = Base.classes.prescription

In [32]:
session = Session(engine)

In [35]:
session.query(Prescription.name,Prescription.strength).all()

[('Theriac', 1000.0),
 ('Haloperidol', 1.0),
 ('Theriac', 1000.0),
 ('Haloperidol', 1.0),
 ('Theriac', 1000.0),
 ('Haloperidol', 1.0)]

In [38]:
pd.DataFrame(session.query(Prescription.name).all())

             0
0      Theriac
1  Haloperidol
2      Theriac
3  Haloperidol
4      Theriac
5  Haloperidol