In [1]:
import pandas as pd

In [2]:
file = "Resources/baton_streets.csv"

In [10]:
original_df = pd.read_csv(file)
df.head()

,STREET NAME ID,STREET FULL NAME,POSTAL COMMUNITY,MUNICIPAL COMMUNITY
STREET NAME,,,,
PRIVATE STREET,1400342,PRIVATE STREET,BATON ROUGE,BATON ROUGE
4TH,1,N 4TH ST,BATON ROUGE,BATON ROUGE
11TH,10,S 11TH ST,BATON ROUGE,BATON ROUGE
ADDINGTON,100,ADDINGTON AVE,BATON ROUGE,BATON ROUGE
CHALFONT,1000,W CHALFONT DR,BATON ROUGE,PARISH

In [11]:
# Set new index to STREET NAME
df = original_df.set_index("STREET NAME")
df.head()

,STREET NAME ID,STREET FULL NAME,POSTAL COMMUNITY,MUNICIPAL COMMUNITY
STREET NAME,,,,
PRIVATE STREET,1400342,PRIVATE STREET,BATON ROUGE,BATON ROUGE
4TH,1,N 4TH ST,BATON ROUGE,BATON ROUGE
11TH,10,S 11TH ST,BATON ROUGE,BATON ROUGE
ADDINGTON,100,ADDINGTON AVE,BATON ROUGE,BATON ROUGE
CHALFONT,1000,W CHALFONT DR,BATON ROUGE,PARISH

In [ ]:
# Grab the data contained within the "ADDINGTON" row and the "STREET FULL NAME" column
addington_name = df.loc["ADDINGTON", "STREET FULL NAME"]
print("Using Loc: " + addington_name)

also_addington_name = df.iloc[3, 1]
print("Using Iloc: " + also_addington_name)

In [ ]:
# Grab the first five rows of data and the columns from "STREET NAME ID" to "POSTAL COMMUNITY"
# The problem with using "STREET NAME" as the index is that the values are not unique so duplicates are returned
# If there are duplicates and loc[] is being used, Pandas will return an error
private_to_chalfont = df.loc[["PRIVATE STREET", "4TH", "11TH", "ADDINGTON", 
                              "CHALFONT"], ["STREET NAME ID", "STREET FULL NAME", "POSTAL COMMUNITY"]]
print(private_to_chalfont)

print()

# Using iloc[] will not find duplicates since a numeric index is always unique
also_private_to_chalfont = df.iloc[0:5, 0:3]
print(also_private_to_chalfont)

In [ ]:
# The following will select all rows for columns `STREET FULL NAME` and `POSTAL COMMUNITY`
df.loc[:, ["STREET FULL NAME", "POSTAL COMMUNITY"]].head()

In [ ]:
# the following logic test/conditional statement returns a series of boolean values
municipal_parish = df["MUNICIPAL COMMUNITY"] == "PARISH"
municipal_parish.head()

In [ ]:
# Loc and Iloc also allow for conditional statments to filter rows of data
# using Loc on the logic test above only returns rows where the result is True
only_prairieville = df.loc[df["POSTAL COMMUNITY"] == "PRAIRIEVILLE", :]
print(only_prairieville)

print()

# Multiple conditions can be set to narrow down or widen the filter
only_prairieville_and_jackson = df.loc[(df["POSTAL COMMUNITY"] == "PRAIRIEVILLE") | (
    df["POSTAL COMMUNITY"] == "JACKSON"), :]
print(only_prairieville_and_jackson)