In [3]:
# Module used to connect Python with MongoDB
from pymongo import MongoClient

In [4]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
mongo = MongoClient()

# Define the 'classDB' database in Mongo
db = mongo.classDB

In [7]:
# Insert a document into the 'classroom' collection
db.classroom.insert_one(
    {
        'name': 'Ahmed',
        'row': 3,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Running', 'Stargazing', 'Reading']
    }
)

# Query the classroom collection.
classroom = db.classroom.find()

# See the data in collection
for student in classroom:
    print(student)

{'_id': ObjectId('651f4a24f118b093849e3073'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4a8ef118b093849e3074'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4aaef118b093849e3075'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [9]:
# Update a document
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$set':
        {'row': 4}
     }
)

# Query the classroom collection
classroom = db.classroom.find()

# See the change in collection.
for student in classroom:
    print(student)

{'_id': ObjectId('651f4a24f118b093849e3073'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4a8ef118b093849e3074'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4aaef118b093849e3075'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [10]:
# Add an item to a document array
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$push':
        {'hobbies': 'Listening to country music'}
     }
)

# Query the classroom collection.
classroom = db.classroom.find()

# See the change in collection.
for student in classroom:
    print(student)

{'_id': ObjectId('651f4a24f118b093849e3073'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music']}
{'_id': ObjectId('651f4a8ef118b093849e3074'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4aaef118b093849e3075'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [11]:
# Delete a field from a document
db.classroom.update_one({'name': 'Ahmed'},
                        {'$unset':
                             {'row': ""}
                        }
                        )

# Query the classroom collection
classroom = db.classroom.find()

# See the change in collection.
for student in classroom:
    print(student)

{'_id': ObjectId('651f4a24f118b093849e3073'), 'name': 'Ahmed', 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music']}
{'_id': ObjectId('651f4a8ef118b093849e3074'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4aaef118b093849e3075'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [14]:
# Delete a document from a collection
#db.classroom.delete_one(
#    {'name': 'Ahmed'}
#)

# Query the classroom collection
classroom = db.classroom.find()
peeps=[]
# See the change in collection.
for student in classroom:
    print(student)
    peeps.append(student)

{'_id': ObjectId('651f4a8ef118b093849e3074'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('651f4aaef118b093849e3075'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [15]:
import pandas as pd
pd.DataFrame(peeps)

,_id,name,row,favorite_python_library,hobbies
0,651f4a8ef118b093849e3074,Ahmed,3,Matplotlib,"[Running, Stargazing, Reading]"
1,651f4aaef118b093849e3075,Ahmed,3,Matplotlib,"[Running, Stargazing, Reading]"