In [8]:
# Dependencies
import pandas as pd

In [9]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [24]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [25]:
# Show just the header
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [26]:
# Show a single column
file_one_df["full_name"].head()

0    Jacquenette Nesterov
1         Leanora Cashell
2           Arley Medford
3       Rafaello Crawshaw
4       Karalee Hallaways
Name: full_name, dtype: object

In [16]:
# Show mulitple specific columns--note the extra brackets
file_one_df = file_one_df[["full_name", "email"]]

In [27]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [28]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/NewData.csv",index=False,header=True)

{'_is_copy': <weakref at 0x0000021E638FF548; dead>,
 '_data': BlockManager
 Items: Index(['full_name', 'email'], dtype='object')
 Axis 1: RangeIndex(start=0, stop=100, step=1)
 ObjectBlock: slice(0, 2, 1), 2 x 100, dtype: object,
 '_item_cache': {},
 '_attrs': {}}