### List Comprehensions

####  Basic Syntax
----
* `[<expression> for <element> in <iterable object>]`
  * **expression:** A method or function call or any other valid expression that returns a value.
  * **element:** The object or value in the list of an iterable object.
  * **iterable object:**A list, set, sequence, generator, or any other object that can return its elements one at a time.

### Using conditional expresssion with list comprehensions

In [2]:
for x in range(50):
    if x % 2== 0:
        print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [4]:
# One way to create a list of even numbers is with a conditional list comprehension
# the expression is just 'x'
# the element is also 'x'
# the iterable_object will be 'range(50)'
# the filter_expression is 'x % 2 == 0'

list_of_evens =[ x for x in range(50) if x % 2== 0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [5]:
for x in range(50):
    if x % 2== 0:
        print('Even')
    else: 
        print('Odd')

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [46]:
# We can use a condition for our expression with an inline if statement.
[f"even {x}" if x %2==0 or x %3 ==0 else f'Odd {x}' for x in range(20) ]

['even 0',
 'Odd 1',
 'even 2',
 'even 3',
 'even 4',
 'Odd 5',
 'even 6',
 'Odd 7',
 'even 8',
 'even 9',
 'even 10',
 'Odd 11',
 'even 12',
 'Odd 13',
 'even 14',
 'even 15',
 'even 16',
 'Odd 17',
 'even 18',
 'Odd 19']

In [13]:
# Given a list of dictionaries, we can filter them with a list comprehension
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

In [18]:
# Change the for loop to list comprehension based on a condition for our expression with an if statement.
[candy['name'] for candy in candies if candy['has_nuts'] ==False]

['skittles', 'caramello', 'circus peanuts', 'starburst', 'mars bar']

In [7]:
# To make it easier to read, we can just select the name of the candies

['skittles', 'caramello', 'circus peanuts', 'starburst', 'mars bar']

### Performing string manipulation using list comprehensions

In [22]:
# A list that holds the column name. 
columns = ['orderId,productName,category,sellingPrice,shipping,totalPrice']

# Split the column on the comma and place in a list.
[c.split(',') for c in columns]

[['orderId',
  'productName',
  'category',
  'sellingPrice',
  'shipping',
  'totalPrice']]

In [28]:
# Changing a letterâ€™s case.
x = [c.split(',') for c in columns]
[i.upper() for i in x[0]]

['ORDERID',
 'PRODUCTNAME',
 'CATEGORY',
 'SELLINGPRICE',
 'SHIPPING',
 'TOTALPRICE']

In [44]:
# Identify numbers in a string using the isdigit() method
#  User data entered as name and phone number
user_data = "Elvis Presley 987-857-5309"

[x for x in user_data if x.isdigit()  ]

['9', '8', '7', '8', '5', '7', '5', '3', '0', '9']

In [35]:
l = []
for x in user_data:
    try:
        if int(x):
            l.append(x)
    except:
        pass
l

['9', '8', '7', '8', '5', '7', '5', '3', '9']

In [39]:
# Using list comprehensions for data cleaning. 
# List of dollar amounts as string objects.
totals = ["$94.00", "$68.00", "$122.95", "$128.00", "$96.00", "$119.90", "$93.90", "$113.60", "$89.75", "$106.85"]

# Convert the dollar amounts to a float using list comprehensions
[float(t.replace("$",'')) for t in totals]

[94.0, 68.0, 122.95, 128.0, 96.0, 119.9, 93.9, 113.6, 89.75, 106.85]

In [12]:
# Check the data types in a list
[print(type(value)) for value in new_totals]

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

[None, None, None, None, None, None, None, None, None, None]

In [60]:
dude = "steve Pine"
x = "Dudish" if "steve" in dude else "phoney"
x

'Dudish'

In [ ]:
f"even {x}" if x %2==0 or x %3 ==0 else f'Odd {x}'