In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
# Define our pet table
class Pet(Base):
    __tablename__ = 'pet'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    type = Column(String)
    age = Column(Integer)

In [3]:
# Right now, this table only exists in python and not in the actual database
Base.metadata.tables

immutabledict({'pet': Table('pet', MetaData(bind=None), Column('id', Integer(), table=<pet>, primary_key=True, nullable=False), Column('name', String(), table=<pet>), Column('type', String(), table=<pet>), Column('age', Integer(), table=<pet>), schema=None)})

In [4]:
# Create our database engine
engine = create_engine('sqlite:///pets.sqlite')

In [5]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [7]:
# The ORM’s “handle” to the database is the Session.
from sqlalchemy.orm import Session
session = Session(engine)
session.autocommit = True
session.__dict__

{'_identity_cls': sqlalchemy.orm.identity.WeakInstanceDict,
 'identity_map': <sqlalchemy.orm.identity.WeakInstanceDict at 0x12d8d904b08>,
 '_new': {},
 '_deleted': {},
 'bind': Engine(sqlite:///pets.sqlite),
 '_Session__binds': {},
 '_flushing': False,
 '_warn_on_events': False,
 'transaction': <sqlalchemy.orm.session.SessionTransaction at 0x12d8d904ac8>,
 'hash_key': 2,
 'autoflush': True,
 'autocommit': True,
 'expire_on_commit': True,
 'enable_baked_queries': True,
 '_enable_transaction_accounting': True,
 'twophase': False,
 '_query_cls': sqlalchemy.orm.query.Query,
 'dispatch': <sqlalchemy.event.base.SessionEventsDispatch at 0x12d8c82cae8>}

## Create Data

In [9]:
# Note that adding to the session does not update the table. It queues up those queries.
session.add(Pet(name='Justin Timbersnake', type='snek', age=2))
session.add(Pet(name='Pawtrick Stewart', type='good boy', age=10))
session.add(Pet(name='Godzilla', type='iguana', age=1))
session.add(Pet(name='Marshmallow', type='polar bear', age=4))

In [10]:
# The data hasn't been added yet
engine.execute('select * from pet').fetchall()

[(1, 'Justin Timbersnake', 'snek', 2),
 (2, 'Pawtrick Stewart', 'good boy', 10),
 (4, 'Marshmallow', 'polar bear', 4)]

In [11]:
# We can use the new attribute to see the queue of data ready to go into the database
session.new

IdentitySet([<__main__.Pet object at 0x0000012D8D911A88>, <__main__.Pet object at 0x0000012D8D911A48>, <__main__.Pet object at 0x0000012D8A3BB448>, <__main__.Pet object at 0x0000012D8D911F48>])

In [12]:
# commit() flushes whatever remaining changes remain to the database, and commits the transaction.
session.commit()

In [13]:
# Nothing new to add
session.new

IdentitySet([])

In [14]:
# query the database
session.query(Pet.name, Pet.type, Pet.age).all()

[('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Marshmallow', 'polar bear', 4),
 ('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 4)]

## Update Data

In [18]:
# Create a query and then run update on it
pet = session.query(Pet).filter_by(name="Marshmallow").first()
pet.age += 1
pet.type = 'kitteh'

In [19]:
# For modifications, we can use the dirty attribute
session.dirty

IdentitySet([<__main__.Pet object at 0x0000012D8D8E9788>])

In [20]:
# Commit Transaction
session.commit()

InvalidRequestError: No transaction is begun.

In [21]:
# Session is up-to-date
session.dirty

IdentitySet([<__main__.Pet object at 0x0000012D8D8E9788>])

In [ ]:

session.add(Pet(name='Marshmallow', type='polar bear', age=4))
session.commit()
session.query(Pet.id, Pet.name, Pet.type, Pet.age).all()

## Delete Data

In [ ]:
# Create a query and then delete the row collected
pet = session.query(Pet).filter_by(name='Godzilla').one()
session.delete(pet)

In [ ]:
session.deleted

In [ ]:
session.commit()

In [ ]:
session.deleted

In [ ]:
session.query(Pet.id, Pet.name, Pet.type, Pet.age).all()

In [ ]:
# Close the session
session.close()