In [2]:
import requests 
import pandas as pd

In [3]:
res = requests.get('http://127.0.0.1:5000/api/v1.0/super-hero')

In [5]:
res.json()

[{'real_name': 'Arthur Curry', 'superhero': 'Aquaman'},
 {'real_name': 'Bruce Wayne', 'superhero': 'Batman'},
 {'real_name': 'Victor Stone', 'superhero': 'Cyborg'},
 {'real_name': 'Barry Allen', 'superhero': 'Flash'},
 {'real_name': 'Hal Jordan', 'superhero': 'Green Lantern'},
 {'real_name': 'Clark Kent/Kal-El', 'superhero': 'Superman'},
 {'real_name': 'Princess Diana', 'superhero': 'Wonder Woman'}]

In [6]:
pd.DataFrame(res.json())

           real_name      superhero
0       Arthur Curry        Aquaman
1        Bruce Wayne         Batman
2       Victor Stone         Cyborg
3        Barry Allen          Flash
4         Hal Jordan  Green Lantern
5  Clark Kent/Kal-El       Superman
6     Princess Diana   Wonder Woman