In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/movie_scores.csv"
movies_df = pd.read_csv(csv_path)

movies_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [14]:
# Figure out the minimum and maximum IMDB user vote count
imdb_min = movies_df['IMDB_user_vote_count'].min()
print(imdb_min)
imdb_max = movies_df['IMDB_user_vote_count'].max()
print(imdb_max)

243
334164

In [31]:
list(range(0,imdb_max,int(imdb_max/10.0)))

[0,
 33416,
 66832,
 100248,
 133664,
 167080,
 200496,
 233912,
 267328,
 300744,
 334160]

In [39]:
# Create bins in which to place values based upon IMDB vote count
bins=list(range(imdb_min,imdb_max,int(imdb_max/10.0)))
# Create labels for these bins
labels=["<33659","<67075","<100491", "<133907", "<167323", "<200739", "<234155", "<267571", "<300987"]
labels

['<33659',
 '<67075',
 '<100491',
 '<133907',
 '<167323',
 '<200739',
 '<234155',
 '<267571',
 '<300987']

In [44]:
# Slice the data and place it into bins
# Place the data series into a new column inside of the DataFrame
movies_df['User Vote Range']=pd.cut(movies_df['IMDB_user_vote_count'],bins,labels=labels)
movies_df.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference,User Vote Range
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5,<300987
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5,<67075

In [54]:
# Create a GroupBy object based upon "IMDB User Votes Group"
movies_df.groupby('User Vote Range').count()['FILM']

# Find how many rows fall into each bin


# Get the average of each of the first 5 rating columns within the GroupBy object
movies_df.groupby('User Vote Range').mean()[['IMDB','Metacritic','RottenTomatoes']]

                     IMDB  Metacritic  RottenTomatoes
User Vote Range
<33659           6.623711   58.051546       59.649485
<67075           6.773077   58.192308       61.461538
<100491          7.150000   62.833333       61.333333
<133907          6.600000   45.400000       40.400000
<167323          7.700000   78.000000       92.000000
<200739          4.200000   46.000000       25.000000
<234155          7.400000   67.000000       81.000000
<267571          7.350000   65.500000       71.500000
<300987          7.850000   68.000000       76.750000