In [1]:
# Dependencies
import pandas as pd

In [7]:
unis = ["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"]

In [8]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(unis)
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [10]:
# Convert a list of dictionaries into a dataframe
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}, {"STATE": "Kansas", "ABBREVIATION": "KS"}]

states_df = pd.DataFrame(states_dicts)
states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY
2      Kansas           KS

In [11]:
# Convert a single dictionary containing lists into a dataframe
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis

Requirement already satisfied: pandas in c:\users\benjamenalford\.conda\envs\pythondata\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\benjamenalford\.conda\envs\pythondata\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\benjamenalford\.conda\envs\pythondata\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\benjamenalford\.conda\envs\pythondata\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\benjamenalford\.conda\envs\pythondata\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)