In [3]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv("../Resources/occupancy.csv")
df.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
0        23.18   27.2720  426.0  721.25       0.004793          1
1        23.15   27.2675  429.5  714.00       0.004783          1
2        23.15   27.2450  426.0  713.50       0.004779          1
3        23.15   27.2000  426.0  708.25       0.004772          1
4        23.10   27.2000  426.0  704.50       0.004757          1

In [5]:
# Get the target variables. 
target = df["Occupancy"]
target_names = ["empty", "occupied"]

In [6]:
# Get the features. 
data = df.drop("Occupancy", axis=1)
feature_names = data.columns
data.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
0        23.18   27.2720  426.0  721.25       0.004793
1        23.15   27.2675  429.5  714.00       0.004783
2        23.15   27.2450  426.0  713.50       0.004779
3        23.15   27.2000  426.0  708.25       0.004772
4        23.10   27.2000  426.0  704.50       0.004757

In [7]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [8]:
# Create a support vector machine linear classifer, and fit it to the training data
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train,y_train)

SVC(kernel='linear')

In [10]:
# Print the model score by using the test data
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

       empty       1.00      0.98      0.99      1607
    occupied       0.94      0.99      0.97       429

    accuracy                           0.99      2036
   macro avg       0.97      0.99      0.98      2036
weighted avg       0.99      0.99      0.99      2036

In [13]:
X_test

      Temperature   Humidity       Light         CO2  HumidityRatio
7437    20.500000  33.500000    0.000000  712.500000       0.005000
483     21.100000  25.100000    0.000000  441.500000       0.003881
7598    20.290000  33.000000    0.000000  488.000000       0.004861
4366    20.200000  22.890000    0.000000  437.000000       0.003345
3886    21.856667  18.166667  311.333333  462.000000       0.002937
...           ...        ...         ...         ...            ...
5209    19.200000  31.100000    6.000000  431.500000       0.004278
6574    19.445000  26.000000    0.000000  470.500000       0.003627
1893    20.290000  20.500000    0.000000  442.000000       0.003011
5417    19.290000  30.700000   81.000000  431.333333       0.004246
4958    19.390000  31.290000    0.000000  439.000000       0.004355

[2036 rows x 5 columns]