In [1]:
# Import Dependencies
import pandas as pd

       Frame  Price  Sales
0     Orante   15.0    100
1  Classical   12.5    200

In [8]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frames_df = pd.DataFrame({"Frame":["Orante","Classical"],"Price":[15.0,12.5],"Sales":[100,200]})
frames_df

       Frame  Price  Sales
0     Orante   15.0    100
1  Classical   12.5    200

In [13]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
frames2_df = pd.DataFrame([
    {"Frame":"Ornate","Price":15.0,"Sales":100},
    {"Frame":"Classical","Price":12.5,"Sales":200},
])
frames2_df

       Frame  Price  Sales
0     Ornate   15.0    100
1  Classical   12.5    200

In [15]:
frames_df

       Frame  Price  Sales
0     Orante   15.0    100
1  Classical   12.5    200