In [7]:
# Import Dependencies
import pandas as pd

In [8]:
# Create reference to CSV file
csv_path = "Resources/SFO_Airport_Utility_Consumption.csv"

# Import the CSV into a pandas DataFrame
consumption_df = pd.read_csv(csv_path)
consumption_df

,Year,Month Number,Month,Utility,Owner,Units,Usage
0,2013,1,Jan,Passengers,Campus,PAX,3.209356e+06
1,2013,1,Jan,Gas,Commission,Therms,3.632050e+05
2,2013,1,Jan,Gas,Tenant,Therms,4.939300e+04
3,2013,1,Jan,Electricity,Commission,kWh,1.290435e+07
4,2013,1,Jan,Electricity,Tenant,kWh,1.400216e+07
...,...,...,...,...,...,...,...
555,2019,8,Aug,Gas,Tenant,Therms,6.160002e+03
556,2019,8,Aug,Electricity,Commission,kWh,1.563947e+07
557,2019,8,Aug,Electricity,Tenant,kWh,1.251209e+07
558,2019,8,Aug,Water,Commission,Million Gallons,2.767076e+01
559,2019,8,Aug,Water,Tenant,Million Gallons,1.512082e+01

In [3]:
# Collect a list of all the unique values in "Utility"
consumption_df["Utility"].unique()

array(['Passengers', 'Gas', 'Electricity', 'Water'], dtype=object)

In [15]:
# Looking only at Electricity Consumption with "Tenant" owner
electricity_df = consumption_df.loc[(consumption_df["Utility"] == "Electricity") &
                                    (consumption_df["Owner"] == "Tenant")]
electricity_df.head()

    Year  Month Number Month      Utility   Owner Units       Usage
4   2013             1   Jan  Electricity  Tenant   kWh  14002156.0
11  2013             2   Feb  Electricity  Tenant   kWh  12631776.0
18  2013             3   Mar  Electricity  Tenant   kWh  13894596.0
25  2013             4   Apr  Electricity  Tenant   kWh  13548377.0
32  2013             5   May  Electricity  Tenant   kWh  13646478.0

In [23]:
# Sort the DataFrame by the values in the "Usage" column to find the worst day
electricity_df = electricity_df.sort_values("Usage", ascending=False)

# Reset the index so that the index is now based on the sorting locations
electricity_df = electricity_df.reset_index(drop=True)

electricity_df.head()

   Year  Month Number Month      Utility   Owner Units        Usage
0  2015             8   Aug  Electricity  Tenant   kWh  14248996.00
1  2013             7   Jul  Electricity  Tenant   kWh  14213208.26
2  2013             1   Jan  Electricity  Tenant   kWh  14002156.00
3  2014             8   Aug  Electricity  Tenant   kWh  13953716.00
4  2013            10   Oct  Electricity  Tenant   kWh  13933761.00

In [24]:
# Save all of the information collected on the worst day
worst_day = electricity_df.loc[0]
worst_day

Year                   2015
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.4249e+07
Name: 0, dtype: object

In [36]:
for index,row in electricity_df.iterrows():
    print(row)

Year                   2015
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.4249e+07
Name: 0, dtype: object
Year                   2013
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.42132e+07
Name: 1, dtype: object
Year                   2013
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.40022e+07
Name: 2, dtype: object
Year                   2014
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.39537e+07
Name: 3, dtype: object
Year                   2013
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.39338e+07
Name: 4, dtype: object
Year                   2013
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.38946e+07
Name: 5, dtype: object
Year                   2013
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.38068e+07
Name: 6, dtype: object
Year                   2016
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.38015e+07
Name: 7, dtype: object
Year                   2015
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.37696e+07
Name: 8, dtype: object
Year                   2014
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.37044e+07
Name: 9, dtype: object
Year                   2013
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.36833e+07
Name: 10, dtype: object
Year                   2013
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.36483e+07
Name: 11, dtype: object
Year                   2013
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.36465e+07
Name: 12, dtype: object
Year                   2014
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.36442e+07
Name: 13, dtype: object
Year                   2016
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.35954e+07
Name: 14, dtype: object
Year                   2015
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.35939e+07
Name: 15, dtype: object
Year                   2013
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.35484e+07
Name: 16, dtype: object
Year                   2016
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.35168e+07
Name: 17, dtype: object
Year                   2016
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.3503e+07
Name: 18, dtype: object
Year                   2016
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.34536e+07
Name: 19, dtype: object
Year                   2015
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.3452e+07
Name: 20, dtype: object
Year                   2014
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.34493e+07
Name: 21, dtype: object
Year                   2014
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.34493e+07
Name: 22, dtype: object
Year                   2014
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.34493e+07
Name: 23, dtype: object
Year                   2014
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.34493e+07
Name: 24, dtype: object
Year                   2016
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.33196e+07
Name: 25, dtype: object
Year                   2013
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.33011e+07
Name: 26, dtype: object
Year                   2014
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.32976e+07
Name: 27, dtype: object
Year                   2014
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.32976e+07
Name: 28, dtype: object
Year                   2014
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.32869e+07
Name: 29, dtype: object
Year                   2015
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.32788e+07
Name: 30, dtype: object
Year                   2016
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.32777e+07
Name: 31, dtype: object
Year                   2015
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.31941e+07
Name: 32, dtype: object
Year                   2013
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.31916e+07
Name: 33, dtype: object
Year                   2016
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30762e+07
Name: 34, dtype: object
Year                   2017
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30674e+07
Name: 35, dtype: object
Year                   2015
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30569e+07
Name: 36, dtype: object
Year                   2014
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30569e+07
Name: 37, dtype: object
Year                   2015
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30569e+07
Name: 38, dtype: object
Year                   2015
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30569e+07
Name: 39, dtype: object
Year                   2014
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.30541e+07
Name: 40, dtype: object
Year                   2016
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.29959e+07
Name: 41, dtype: object
Year                   2015
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.29935e+07
Name: 42, dtype: object
Year                   2015
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.2951e+07
Name: 43, dtype: object
Year                   2016
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.2801e+07
Name: 44, dtype: object
Year                   2017
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.2801e+07
Name: 45, dtype: object
Year                   2016
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.27871e+07
Name: 46, dtype: object
Year                   2016
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.27871e+07
Name: 47, dtype: object
Year                   2017
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.26431e+07
Name: 48, dtype: object
Year                   2013
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.26318e+07
Name: 49, dtype: object
Year                   2017
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.26263e+07
Name: 50, dtype: object
Year                   2015
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.26062e+07
Name: 51, dtype: object
Year                   2017
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25836e+07
Name: 52, dtype: object
Year                   2019
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25816e+07
Name: 53, dtype: object
Year                   2017
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25757e+07
Name: 54, dtype: object
Year                   2017
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25728e+07
Name: 55, dtype: object
Year                   2017
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25353e+07
Name: 56, dtype: object
Year                   2019
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.25121e+07
Name: 57, dtype: object
Year                   2018
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.2488e+07
Name: 58, dtype: object
Year                   2018
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.24486e+07
Name: 59, dtype: object
Year                   2019
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.24481e+07
Name: 60, dtype: object
Year                   2018
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.24404e+07
Name: 61, dtype: object
Year                   2019
Month Number              5
Month                   May
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.24401e+07
Name: 62, dtype: object
Year                   2019
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.23688e+07
Name: 63, dtype: object
Year                   2018
Month Number              1
Month                   Jan
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.23427e+07
Name: 64, dtype: object
Year                   2018
Month Number             10
Month                   Oct
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.2317e+07
Name: 65, dtype: object
Year                   2017
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.22756e+07
Name: 66, dtype: object
Year                   2018
Month Number              3
Month                   Mar
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.22564e+07
Name: 67, dtype: object
Year                   2017
Month Number              9
Month                   Sep
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.22523e+07
Name: 68, dtype: object
Year                   2018
Month Number             12
Month                   Dec
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.21351e+07
Name: 69, dtype: object
Year                   2019
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.21303e+07
Name: 70, dtype: object
Year                   2017
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.20978e+07
Name: 71, dtype: object
Year                   2018
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.20308e+07
Name: 72, dtype: object
Year                   2018
Month Number              7
Month                   Jul
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.20081e+07
Name: 73, dtype: object
Year                   2018
Month Number             11
Month                   Nov
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            1.1934e+07
Name: 74, dtype: object
Year                   2019
Month Number              6
Month                   Jun
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.19258e+07
Name: 75, dtype: object
Year                   2018
Month Number              4
Month                   Apr
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.18235e+07
Name: 76, dtype: object
Year                   2017
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.17531e+07
Name: 77, dtype: object
Year                   2019
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.11747e+07
Name: 78, dtype: object
Year                   2018
Month Number              2
Month                   Feb
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage           1.11513e+07
Name: 79, dtype: object