In [1]:
# Dependencies
import pandas as pd

In [2]:
# Name of the CSV file
file = 'Resources/donors2021_unclean.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file)

In [4]:
# Preview of the DataFrame
# Note that Memo_CD is likely a meaningless column
df.head()

,Name,Employer,City,State,Zip,Amount,Memo_CD
0,"CAREY, JAMES",NOT EMPLOYED,HOCKESSIN,DE,197071618.0,500,NaN
1,"OBICI, SILVANA",STONY BROOK,PORT JEFFERSON STATION,NY,117764286.0,250,NaN
2,"MAISLIN, KAREN",RETIRED,WILLIAMSVILLE,NY,14221.0,250,NaN
3,"MCCLELLAND, CARTER AND STEPHANIE",UNION SQUARE ADVISORS,NEW YORK,NY,10023.0,1000,NaN
4,"MCCLUSKEY, MARTHA",STATE UNIVERSITY OF NEW YORK,BUFFALO,NY,14214.0,250,NaN

In [ ]:
# Delete extraneous column
del df['Memo_CD']
df.head()

In [ ]:
# Identify incomplete rows
df.count()

In [ ]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [ ]:
# Verify dropped rows
df.count()

In [ ]:
# The Zip column is the wrong data type. It should be a string (object).
df.dtypes

In [ ]:
# Use df.astype() method to convert the datatype of the Zip column
df = df.astype({"Zip": str}, errors='raise')

In [ ]:
# Verify that the Zip column datatype has been made an object
df['Zip'].dtype

In [ ]:
# Display an overview of the Employers column
df['Employer'].value_counts()

In [ ]:
# Clean up Employer category. Replace 'SELF' and 'SELF EMPLOYED' with 'SELF-EMPLOYED'
df['Employer'] = df['Employer'].replace({'SELF': 'SELF-EMPLOYED', 'SELF EMPLOYED': 'SELF-EMPLOYED'})

In [ ]:
# Verify clean-up.
df['Employer'].value_counts()

In [ ]:
df['Employer'] = df['Employer'].replace({'NOT EMPLOYED': 'UNEMPLOYED'})
df['Employer'].value_counts()

In [ ]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

In [ ]:
df.to_csv("Resources/donors2021.csv", index=False, encoding="ISO-8859-1")