# Automated Web Scrape Practice

In [ ]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from selenium.webdriver.chrome.service import Service

In [ ]:
# Set up Splinter
my_service = Service(executable_path='c:/chrome_driver/chromedriver.exe')
browser = Browser('chrome', service=my_service)

In [ ]:
# Visit the Quotes to Scrape site
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [ ]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')
print(html_soup)

In [ ]:
# Scrape the heading
h2 = html_soup.find('h2')
heading = h2.text
print(h2)
print(heading)

In [ ]:
# Scrape the top ten tags
tag_box = html_soup.find('div', class_='tags-box')
# tag_box
tags = tag_box.find_all('a', class_='tag')

for tag in tags:
    word = tag.text
    print(word)

In [ ]:
# End the automated browsing section
browser.quit()

In [ ]:
browser = Browser('chrome', service=my_service)
# Visit the Quotes to Scrape site
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [ ]:
quote_cont_soup =soup(browser.html)

In [ ]:
quote_soup = quote_cont_soup.find_all('div', class_='quote')

In [ ]:
quotes = []
for q in quote_soup:
    quote= {}
    quote['text'] = q.find('span', class_='text').text.strip()
    quote['author'] = q.find('small', class_='author').text.strip()
    quotes.append(quote)

In [ ]:
len(quotes)

In [ ]:
browser.links.find_by_partial_text('Next').click()

In [ ]:
url = 'http://quotes.toscrape.com/'
browser.visit(url)
quotes = []
for x in range(1,100):
    try:
        print(f'scraping page {x} of 10')
        quote_cont_soup =soup(browser.html)
        quote_soup = quote_cont_soup.find_all('div', class_='quote')
        for q in quote_soup:
            quote= {}
            quote['text'] = q.find('span', class_='text').text.strip()
            quote['author'] = q.find('small', class_='author').text.strip()
            quotes.append(quote)
        browser.links.find_by_partial_text('Next').click()
    except :
        print('error')
        
browser.quit()

In [ ]:
len(quotes)

In [ ]:
        
browser.quit()

In [1]:
import pandas as pd

In [3]:
pd.read_html('https://static.bc-edx.com/data/web/mars_facts/temperature.html')[0]

        id terrestrial_date   sol   ls  month  min_temp  pressure
0        2       2012-08-16    10  155      6     -75.0     739.0
1       13       2012-08-17    11  156      6     -76.0     740.0
2       24       2012-08-18    12  156      6     -76.0     741.0
3       35       2012-08-19    13  157      6     -74.0     732.0
4       46       2012-08-20    14  157      6     -74.0     740.0
...    ...              ...   ...  ...    ...       ...       ...
1862  1889       2018-02-23  1973  133      5     -78.0     730.0
1863  1892       2018-02-24  1974  134      5     -77.0     729.0
1864  1894       2018-02-25  1975  134      5     -76.0     729.0
1865  1893       2018-02-26  1976  135      5     -77.0     728.0
1866  1895       2018-02-27  1977  135      5     -77.0     727.0

[1867 rows x 7 columns]